<div class="d-flex justify-content-between mb-2">
<h2>Your challenges</h2>
<%= link_to "➕", new_challenge_path, class: "btn mx-1" %>
</div>

  <h4>Active</h4>
<% @challenges.active.each do |challenge| %>
  <div class="card text-bg-light mb-3 p-1">
    <div class="accordion px-2" id="userActiveChallenge<%= challenge.id %>">
      <button class="btn dropdown-toggle p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUserActiveChallenge<%= challenge.id %>" aria-expanded="true" aria-controls="collapseUserActiveChallenge<%= challenge.id %>">
      <%= challenge.name.titleize %>
      </button>
      <div class=""><small class="text-body-secondary text-end"><%= challenge.start_date.strftime("%d %b %Y") %> - <%= challenge.end_date.strftime("%d %b %Y") %></small></div>
    </div>
    <%= link_to challenge_path(challenge), class: "card-link" do %>
      <div id="collapseUserActiveChallenge<%= challenge.id %>" class="accordion-collapse collapse" data-bs-parent="#userActiveChallenge<%= challenge.id %>">
        <div class="accordion-body bg-white">
          <%= render 'challenges/data', challenge: challenge %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @created_challenges.any? %>  
  <h4>Created by you</h4>
  <% @created_challenges.each do |created_challenge| %>
    <div class="card text-bg-light mb-3 p-1">
      <div class="accordion px-2" id="userCreatedChallenge<%= created_challenge.id %>">
        <button class="btn dropdown-toggle p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUserCreatedChallenge<%= created_challenge.id %>" aria-expanded="true" aria-controls="collapseUserCreatedChallenge<%= created_challenge.id %>">
        <%= created_challenge.name.titleize %>
        </button>
        <div class=""><small class="text-body-secondary text-end"><%= created_challenge.start_date.strftime("%d %b %Y") %> - <%= created_challenge.end_date.strftime("%d %b %Y") %></small></div>
      </div>
      <%= link_to challenge_path(created_challenge), class: "card-link" do %>
        <div id="collapseUserCreatedChallenge<%= created_challenge.id %>" class="accordion-collapse collapse" data-bs-parent="#userCreatedChallenge<%= created_challenge.id %>">
          <div class="accordion-body bg-white">
            <%= render 'challenges/data', challenge: created_challenge %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<h4>Archived challenges</h4>
<% if @challenges.archived.any? %>
  <% @challenges.archived.each do |arch_challenge| %>
    <div class="card text-bg-light mb-3 p-1">
      <div class="accordion px-2" id="userArchivedChallenge<%= arch_challenge.id %>">
        <button class="btn dropdown-toggle p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUserArchivedChallenge<%= arch_challenge.id %>" aria-expanded="true" aria-controls="collapseUserArchivedChallenge<%= arch_challenge.id %>">
        <%= arch_challenge.name.titleize %>
        </button>
        <div class=""><small class="text-body-secondary text-end"><%= arch_challenge.start_date.strftime("%d %b %Y") %> - <%= arch_challenge.end_date.strftime("%d %b %Y") %></small></div>
      </div>
      <%= link_to challenge_path(arch_challenge), class: "card-link" do %>
        <div id="collapseUserArchivedChallenge<%= arch_challenge.id %>" class="accordion-collapse collapse" data-bs-parent="#userArchivedChallenge<%= arch_challenge.id %>">
          <div class="accordion-body bg-white">
            <%= render 'challenges/data', challenge: arch_challenge %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
<div class=""><small class="text-body-secondary text-end">No archived challenges</small></div>
<% end %>
