<div class="w-100 d-block px-2">
  <div class="row py-1 fw-medium">
    <div class="col text-start"></div>
    <div class="col text-end">Today</div>
    <div class="col text-end">Total</div>
  </div>
  <div class="row py-1 bg-light">
    <div class="col text-start">Day</div>
    <div class="col text-end"><%= challenge.today_days_since_start %></div>
    <div class="col text-end"><%= challenge.days_in_challenge %></div>
  </div>
  <div class="row py-1">
    <div class="col text-start">Completed</div>
    <div class="col text-end"><%= number_with_delimiter(challenge.reps_done_today(current_user)) %></div>
    <div class="col text-end"><%= number_with_delimiter(challenge.rep_target_today) %></div>
  </div>
  <div class="row py-1 bg-light">
    <div class="col text-start">Remaining</div>
    <div class="col text-end"><%= number_with_delimiter(challenge.rep_target_today - challenge.reps_done_today(current_user)) %></div>
    <div class="col text-end"><%= number_with_delimiter(challenge.total_target_of_challenge - challenge.cumulative_reps_done(current_user)) %></div>
  </div>
  <div class="row py-1">
    <div class="col text-start">Cumulative</div>
    <div class="col text-end"><%= number_with_delimiter(challenge.cumulative_reps_done(current_user)) %></div>
    <div class="col text-end"><%= number_with_delimiter(challenge.total_target_of_challenge) %></div>
  </div>
</div>
