<h1><%= @challenge.name %></h1>
  <p>Start Date: <%= @challenge.start_date.strftime("%d %b %Y") %></p>

<% if !@challenge.participations.exists?(user: current_user) %>
  <%= button_to 'Join', join_challenge_path(@challenge), method: :post, class: "btn btn-primary" %>

<% else %>

  <%= render 'challenges/day_navbar', challenge: @challenge, date: @date %>

  <turbo-frame id="challenge-<%= @challenge.id %>-<%= @date %>">
    <%= render 'challenges/on_date', 
              rep_target: @rep_target, 
              reps_done: @reps_done, 
              reps_remaining: @reps_remaining,
              reps_done_as_percentage: @reps_done_as_percentage %>
  </turbo-frame>

  <%= render 'challenges/buttons', locals: { reps_remaining_today: @reps_remaining_today } %>
<% end %>