<div class="d-flex justify-content-between mb-3">
  <div>
    <h1 class="mb-0"><%= @challenge.name %></h1>
    <small>Start Date: <%= @challenge.start_date.strftime("%d %b %Y") %></small>
  </div>
  <div>
  <% if !current_user.participating_in?(@challenge) %>
    <%= button_to 'Join', join_challenge_path(@challenge), method: :post, class: "btn btn-primary" %>
  </div>
</div>  
  <% else %>
    <%= button_to 'Leave', leave_challenge_path(@challenge), method: :delete, class: "btn btn-outline-secondary btn-sm", data: { confirm: 'Are you sure you want to leave this challenge?' } %>
  </div>
</div>

<%= render 'challenges/day_navbar', challenge: @challenge, date: @date %>

<%= render "challenges/#{@challenge.challenge_type}" %>

<% end %>
