<nav class="navbar navbar-expand-sm fixed-bottom bg-body-tertiary">
  <div class="container container-fluid">
    <% if user_signed_in? %>
      <%= link_to "ðŸ ", authenticated_root_path, class: "navbar-brand" %>
      <% if @primary_challenge.present? %>
        <%= link_to "ðŸŽ¯ #{@todays_target}", challenge_path(@primary_challenge), class: "navbar-brand" %>
      <% end %>
      <%= link_to "ðŸ’ª", challenges_path, class: "navbar-brand" %>
      <%= link_to "ðŸ”Ž", public_challenges_path, class: "navbar-brand" %>
      <%= link_to "ðŸ‘¤", user_path, class: "navbar-brand" %>
    <% else %> 
      <%= link_to "ðŸ ", user_path, class: "navbar-brand" %>
    <% end %>
  </div>
</nav>